# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
build/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# prisma
packages/db/generated/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.vscode/*
!.vscode/extensions.json

# testing
coverage/
playwright-report/
test-results/
